/* Archivo de estilos personalizado */
.notification-roja {
  background-color: rgb(192, 109, 109);
  color: #fafafa;
  font-size: 15px;
}
.alert{
  background-color:red;
  color:white;
  border:1px solid red;
  border-radius:15px;
}

.btn-primary{
  color: white;
  background-color: rgba(147, 55, 31, 0.5);
}